@using System.Globalization
@model SportsClubWeb.ViewModels.ReservationViewModel
<h2>Court Reservations for @DateTime.Today.ToString("D", CultureInfo.InvariantCulture)</h2>

@foreach (var id in Model.CourtIds)
{
  @await Html.PartialAsync("CourtReservations", Model.ReservationsForCourt(id))
}